<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobyDev Test Project</title>
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<body>
 
    <div class="container">
        <h2>Welcome to MobyDev Test Project</h2>
        <p>Please choose an option:</p>
        <a href="/reg" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
        <a href="/profile" class="btn">Profile</a>
        <a href="/projects" class="btn">Projects</a>
        <a href="/createProject" class="btn">Create Project</a>
    </div>
</body>
</html>
