<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reg.css">
    <title>Registration</title>
</head>
<body>
    <header>
        <h1>go-test-mobydev</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Register</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/createProject">Create Project</a></li>
                <li><a href="/admin">Admin Panel</a></li>
            </ul>
        </nav>
    </header>
    <h1>Registration</h1>
    <form action="/reg" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="/login">Login here</a>.</p>
</body>
</html>
